#main_section > #error_section {
    width: 100%;
    height: 950px;
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

#main_section > #error_section > div.error_wrap {
    width: 300px;
    margin: 0 auto;
    padding-top: 350px;
    background-color: #F5F5F5;
} 

#main_section > #error_section > div.error_wrap > img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

#main_section > #error_section > div.error_wrap > h1 {
    font-size: 1.3em;
    text-align: center;
}
